<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"> -->
    <meta charset="UTF-8">
    <title>{% block title%} TRI#D DL : CP-VTON {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    {% block styles %}
    {% endblock %}

    <script>
        {% block jquery %}
        {% endblock %}
    </script>
    
</head>
<body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <!-- Header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'main:index' %}">TRI3D</a>
                </div>

                <!-- Items -->
                <div class="collapse navbar-collapse" id="topNavBar">
                    <ul class="nav navbar-nav navbar-right">   
                        <li>
                            <a href="{% url 'main:index' %}">
                                Try New
                            </a>
                        </li>
                         <li>
                            <a href="{% url 'main:goplist' %}">
                                Last 5 History
                            </a>
                        </li>


                    </ul>
                </div>

            </div>
        </nav>

    
    
    {% block body %}
    {% endblock %}
</body>

{% block scripts %}

{% endblock %}

</html>
