{% extends 'base.html' %}
{% load static %}
{% block body %}
{% for gop in gops %}
<div>
	garment_id = {{gop.garment.name}} , pose_id = {{gop.pose.name}} , start_time = {{gop.start_time}} , end_time = {{gop.end_time}}
</div>
<br>
<div>
	<img src="../{{gop.garment.cloth_path}}">
	<img src="../{{gop.pose.image_path}}">
	<img src="../{{gop.warp_cloth_path}}">
	<img src="../{{gop.tryon_path}}">
</div>
<br>
{% endfor %}
{% endblock%}
