{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container">
	<div class="row">
		To see how garment will look on the person, click Generate GOP button
	</div>
	<div class="row">
		<div style="text-align: center">

			<a id="GOP" style="display:inline" onclick="generateGOP('{{garment.name}}','{{pose.name}}')" class="btn btn-success"> GENERATE GOP </a>
			<a id="GOPFull" style="display:none" onclick="generateGOPFull('{{garment.name}}')" class="btn btn-success"> GENERATE FULL GOP </a>
			<a onclick="location.reload()" class="btn btn-warning"> Refresh Combination </a>
		  	<input style="display:inline" id="pose_image_id" type="file" name="pose_image_name" onchange="readURL(this);">
			
			
		</div>		
	</div>
	<div class="row">
		<div class="col-sm-3" style="background-color:white;">
		    <div style="text-align: center">
		        <h3>Gar {{garment.name}}</h3>
		    </div>
		    <div style="text-align: center">
			    <div class="panel panel-default">
			        <div class="panel-body">
						<img id="input_garment" src="{{garment.cloth_path}}">            
			        </div>
			    </div>
		    </div>

		    <div style="text-align: center">
			    <div class="panel panel-default">
			        <div class="panel-body">
						<img src="{{garment.cloth_mask_path}}">            
			        </div>
			    </div>
		    </div>
		</div>	

		<div class="col-sm-3" style="background-color:white;">
		    <div style="text-align: center">
		        <h3>Pose {{pose.name}}</h3>
		    </div>
		    <div style="text-align: center">
			    <div class="panel panel-default">
			        <div class="panel-body">
						<img id="input_pose" src="{{pose.image_path}}">            
			        </div>
			    </div>
			</div>

			<div style="text-align: center">
			    <div class="panel panel-default">
			        <div class="panel-body">
						<img id="input_pose_parse" src="{{pose.image_parse_path}}">            
			        </div>
			    </div>
			</div>
		</div>	

		<div class="col-sm-6" style="background-color:white;">
		    <div style="text-align: center">
		        <h3 id="output_h3">Output</h3>
		    </div>
		    <div style="text-align: center">
			    <div class="panel panel-default">
			        <div class="panel-body">
			        	<img id="warp_img" src="">            
						<img id="output_img" src="">      
			        </div>
			    </div>
			</div>
		</div>	
	</div>	
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

	function readURL(input) {
        images_ul = document.getElementById('images_ul');
        
        var reader = new FileReader();
        reader.index = 0;
        reader.onloadend = function (inp) {                             
            document.getElementById('input_pose').src=inp.target.result;
            document.getElementById('input_pose_parse').src='';
        };
        reader.readAsDataURL(input.files[0]);
        
        document.getElementById("pose_image_id").disabled = true;
        document.getElementById("GOP").style.display = 'none';
        document.getElementById("GOPFull").style.display = 'inline';
    }

	function getCookie(c_name) {
	    if(document.cookie.length > 0) {
	        c_start = document.cookie.indexOf(c_name + "=");
	        if(c_start != -1) {
	            c_start = c_start + c_name.length + 1;
	            c_end = document.cookie.indexOf(";", c_start);
	            if(c_end == -1) c_end = document.cookie.length;
	            return unescape(document.cookie.substring(c_start,c_end));
	        }
	    }
	    return "";
	}

	function getBase64Image(img) {
	  var canvas = document.createElement("canvas");
	  canvas.width = img.width;
	  canvas.height = img.height;
	  var ctx = canvas.getContext("2d");
	  ctx.drawImage(img, 0, 0);
	  var dataURL = canvas.toDataURL("image/png");
	  return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
	}

	function generateGOPFull(gname){
		document.getElementById("output_h3").innerHTML = 'GENERATING GOP FULL .... '
		$.ajax({
              url:'/ajax/GOPFull/',
              method:'POST',
              data : { 
              	'garment_name' : gname,
              	'pose_image_data' : getBase64Image(document.getElementById("input_pose"))
              },
              success: function(data) {

           		if(data['message'] == 'success'){
           			document.getElementById('warp_img').src = data['warp_path'];    
           			document.getElementById('output_img').src = data['output_path'];    
           			
           		}
           		else{
           			alert(data['message']);
           		}
           		document.getElementById('input_pose_parse').src = data['parse_path']
           		document.getElementById("output_h3").innerHTML = 'Output'	
           		
              },
         });

	}

	function generateGOP(gname,pname){
		document.getElementById("output_h3").innerHTML = 'GENERATING GOP .... '
        $.ajax({
              url:'/ajax/GOP/',
              data : { 
              	'garment_name' : gname,
              	'pose_name' : pname,
              },
              success: function(data) {

           		if(data['message'] == 'success'){
           			document.getElementById('warp_img').src = data['warp_path'];    
           			document.getElementById('output_img').src = data['output_path'];    
           			
           		}
           		else{
           			alert(data['message']);
           		}
           		document.getElementById("output_h3").innerHTML = 'Output'	
           		
              },
         });
    }	
</script>
	
{% endblock %}

